html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #282828;
    background-color: #474B5F;
}

/*
 * Clearfixes
 */
.clearfix:after, .container:after, .row:after {
    content: "";
    display: table;
    clear: both; }

/*
 * Container
 */
.container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
section.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
 * Grid
 */
.row {
    margin-left: -15px;
    margin-right: -15px; }

.row [class*='col-'] {
    position: relative;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }

.row [class*='col-']:last-child {
    margin-right: 0; }

.col-1-2 {
    width: 50%; }

.col-1-3 {
    width: 33.33%; }

.col-1-4 {
    width: 25%; }

.col-3-4 {
    width: 75%; }

.col-2-3 {
    width: 66.66%; }

.col-7-10 {
    width: 70%; }

.col-3-10 {
    width: 30%; }

/*
 * Typography
 */
h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    color: #282828;
}
h1 {
    font-size: 24px;
    line-height: 1.2;
}
h2 {
    font-size: 20px;
    line-height: 1.25;
}
h3 {
    font-size: 16px;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: #00C2FB;
}

p {
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 15px;
}

hr {
    border: 0;
    color: #DDD;
    background-color: #DDD;
    height: 1px;
    margin: 15px 0;
}

/*
 * Forms
 */
.form-group {
    position: relative;
    margin-bottom: 15px; }
.form-group.has-error > input, .form-group.has-error > select, .form-group.has-error > textarea {
    border: 1px solid #EC5B42;
    animation: shake 300ms ease-in-out; }
.form-help {
    margin-top: 10px;
    color: #888;
    font-size: 12px; }
.form-container {
    padding: 15px; }
.form-container-floating {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 15px 5px;
    background-color: #212332;
    transition: all 0.5s linear; }
.form-container-floating.active {
    top: 50px; }
@keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-6px) rotateY(-5deg)}
    37.5% {transform: translateX(5px) rotateY(4deg)}
    62.5% {transform: translateX(-3px) rotateY(-2deg)}
    87.5% {transform: translateX(2px) rotateY(1deg)}
    100% {transform: translateX(0)}
}

/*
 * Horizontal form
 */
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px; }

.form-horizontal label {
    display: block;
    text-align: right;
    line-height: 36px;
    margin-bottom: 0; }

/*
 * Stacked form
 */
.form-stacked button[type="submit"] {
    margin-top: 5px; }

/*
 * Form elements
 */
label {
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px; }
input[type="text"],
input[type="password"],
input[type="time"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 12px;
    display: block;
    border: 0;
    background: rgba(255,255,255,0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #FFF;
    outline: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    box-sizing: border-box; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    background: rgba(255,255,255,0.15);
    transition: all 0.3s ease; }
input[type="text"],
input[type="password"],
input[type="time"],
input[type="number"],
select {
    height: 36px;
    padding: 0 12px; }
input[type="radio"],
input[type="checkbox"] {
    margin: 3px;
    cursor: pointer;
    vertical-align: middle; }
textarea {
    resize: vertical; }
select {
    padding-left: 8px;
    color: #AAA }
select:focus {
    color: #FFF }
select option {
    color: #666; }
button[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
    outline: 0;
    line-height: 1; }

/*
 * Placeholders
 */
::-webkit-input-placeholder {
    color: #AAA; }

:-moz-placeholder {
    color: #AAA;
    opacity: 1; }

::-moz-placeholder {
    color: #AAA;
    opacity: 1; }

:-ms-input-placeholder {
    color: #AAA; }

/*
 * Layout
 */
#header {
    height: 20px;
    position: relative;
    padding: 15px;
    background-color: #212332;
    color: #FFF;
    z-index: 1000;

}
#header h1 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14.5px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    letter-spacing: 0.3px;
}
#header .toggle-sidebar {
    position: absolute;
    top: 11px;
    left: 15px;
    color: #474B5F;
    outline: 0;
}
#header .toggle-sidebar .icon:before {
    font-size: 28px;

}
#header .toggle-form {
    position: absolute;
    top: 14px;
    right: 15px;
    color: #474B5F;
    outline: 0;
    transition: all 0.5s linear;
}
#header .toggle-form .icon:before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
}
#header .toggle-form.active {
    transform: rotate(225deg);
    color: #EC5B42;
}

#sidebar {
    position: absolute;
    top: 50px; /* Header height */
    bottom: 0;
    left: -280px;
    width: 280px;
    z-index: 100;
    background-color: #404456;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}
#sidebar.active {
    left: 0;
}
#sidebar nav {
    margin: 5px 0;
}
#sidebar nav a {
    display: block;
    padding: 12px 15px;
    font-size: 14.5px;
    line-height: 1;
    font-weight: 300;
    color: #FFF;
}
#sidebar nav a:first-child {
    border-top: 0;
}
#sidebar nav a .icon {
    position: relative;
    top: -2px;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 18px;
    color: #00C2FB;
}
.page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.35);
}

/*
 * Buttons
 */
.btn {
    display: inline-block;
    color: #282828;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    outline: 0;
    border: 1px solid #E6E6E6;
    background-color: #FFF;
    transition: all ease 0.3s;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); }
.btn:hover {
    border-color: #D6D6D6;
    text-decoration: none; }
.btn:active {
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1); }
.btn-small {
    height: 26px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 13px; }
.btn-medium {
    height: 34px;
    line-height: 32px;
    padding: 0 12px; }
.btn-large {
    height: 38px;
    line-height: 36px;
    padding: 0 14px; }
.btn-primary {
    color: #FFF;
    background-color: #00C2FB;
    border-color: #00C2FB; }
.btn-primary:hover {
    background-color: #00c6fd;
    border-color: #00c6fd; }
.btn-secondary {
    color: #FFF;
    background-color: #AAA;
    border-color: #AAA; }
.btn-secondary:hover {
    background-color: #999;
    border-color: #999; }
.btn-action {
    color: #FFF;
    background-color: #F2645F;
    border-color: #F2645F; }
.btn-action:hover {
    background-color: #ee3630;
    border-color: #ee3630; }
.btn-link {
    color: #3384F5;
    font-weight: 400;
    background: none;
    border: 0;
    box-shadow: none; }
.btn-link:hover {
    text-decoration: underline; }
.btn ~ .btn {
    margin-left: 8px; }
h1 > .btn, h2 > .btn, h3 > .btn, h4 > .btn {
    vertical-align: middle; }

/*
 * To-do module
 */
.tasks-list {
    list-style: none;
    padding: 0;
    margin: 0; }
.tasks-list .task {
    position: relative;
    box-sizing: border-box;
    padding-left: 48px;
    background: #535A6C;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
.tasks-list .task-content {
    padding: 15px;
    font-weight: 300;
    font-size: 22px;
    color: #FFF;
    border-bottom: 1px solid #606677;
}
.tasks-list .task-meta {
    width: 100%;
    margin-bottom: 6px;
    font-size: 12px;
    color: #7F8596;
}
.tasks-list .task-meta span {
    display: block;
    float: left;
    margin-right: 10px;
}
.tasks-list .task-checkbox {
    position: absolute;
    top: -1px;
    left: 0;
    width: 48px;
    height: 100%;
    background-color: #494E61;
    border-bottom: 1px solid #606677;
}
.tasks-list .task-checkbox input[type="checkbox"] {
    display: none; }
.tasks-list .task-checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    top: 50%;
    left: 13px;
    margin-top: -11px;
    margin-bottom: 0; }
.tasks-list .task-checkbox input[type="checkbox"] + label > span {
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid #606677;
    border-radius: 50%; }
.tasks-list .task-checkbox input[type="checkbox"] + label > span > .icon {
    display: none; }
.tasks-list .task-checkbox input[type="checkbox"]:checked + label > span {
    border: none; }
.tasks-list .task-checkbox input[type="checkbox"]:checked + label > span > .icon {
    display: inline-block;
    font-size: 28px;
    color: #57B964;
    position: relative;
    top: -5px; }
.tasks-list .task.low-priority {
    border-right: 5px solid #57B964; }
.tasks-list .task.medium-priority {
    border-right: 5px solid #F49146; }
.tasks-list .task.high-priority {
    border-right: 5px solid #EC5B42; }

/*
 * Spinner loading icon
 */
.spinner {
    width: 60px;
    height: 60px;
    margin: 50px auto;
    position: relative; }
.spinner > span,
.spinner > span:before,
.spinner > span:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.spinner > span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    border-left-color: transparent;
    -webkit-animation: spinner 1.5s infinite linear;
    -moz-animation: spinner 1.5s infinite linear;
    -ms-animation: spinner 1.5s infinite linear;
    -o-animation: spinner 1.5s infinite linear;
    animation: spinner 1.5s infinite linear; }
.spinner > span:before {
    width: 75%;
    height: 75%;
    border-right-color: transparent; }
.spinner > span:after {
    width: 50%;
    height: 50%;
    border-bottom-color: transparent; }
@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}